{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="text-center">Фреймворки Flask и FastAPI - Урок 2</h1>
<br>
<div class="row justify-content-md-center">
    <div class="col-5 bg-body-secondary shadow p-3 m-2 bg-body-tertiary rounded">
        <h3 class="text-center">Задание 1</h3>
        <p>
            Создать базу данных для хранения информации о студентах университета. <br>
            База данных должна содержать две таблицы: "Студенты" и "Факультеты". <br>
            В таблице "Студенты" должны быть следующие поля: id, имя, фамилия, возраст, пол, группа и id факультета.
            <br>
            В таблице "Факультеты" должны быть следующие поля: id и название факультета. <br>
            Необходимо создать связь между таблицами "Студенты" и "Факультеты". <br>
            Написать функцию-обработчик, которая будет выводить список всех студентов с указанием их факультета.
        </p>
        <a class="btn btn-secondary" href="{{ url_for('task1_index') }}">
            Перейти
        </a>
    </div>

    <div class="col-5 bg-body-secondary shadow p-3 m-2 bg-body-tertiary rounded">
        <h3 class="text-center">Задание 2</h3>
        <p>
            Создать базу данных для хранения информации о книгах в библиотеке. <br>
            База данных должна содержать две таблицы: "Книги" и "Авторы". <br>
            В таблице "Книги" должны быть следующие поля: <br>
            id, название, год издания, количество экземпляров и id автора. <br>
            В таблице "Авторы" должны быть следующие поля: id, имя и фамилия. <br>
            Необходимо создать связь между таблицами "Книги" и "Авторы". <br>
            Написать функцию-обработчик,
            которая будет выводить список всех книг с указанием их авторов.
        </p>
        <a class="btn btn-secondary" href="{{ url_for('task2_index') }}">
            Перейти
        </a>
    </div>

    <div class="col-5 bg-body-secondary shadow p-3 m-2 bg-body-tertiary rounded">
        <h3 class="text-center">Задание 3</h3>
        <p>
            Создать страницу, на которой будет форма для ввода логина и пароля <br>
            При нажатии на кнопку "Отправить" будет произведена проверка соответствия логина и пароля
            и переход на страницу приветствия пользователя или страницу с ошибкой.
        </p>
        <a class="btn btn-secondary" href="{{ url_for('index') }}">
            Перейти
        </a>
    </div>

    <div class="col-5 bg-body-secondary shadow p-3 m-2 bg-body-tertiary rounded">
        <h3 class="text-center">Задание 4</h3>
        <p>
            Создать страницу, на которой будет форма для ввода текста и кнопка "Отправить" <br>
            При нажатии кнопки будет произведен подсчет количества слов в тексте и переход на страницу с результатом.
        </p>
        <a class="btn btn-secondary" href="{{ url_for('index') }}">
            Перейти
        </a>
    </div>

    <div class="col-5 bg-body-secondary shadow p-3 m-2 bg-body-tertiary rounded">
        <h3 class="text-center">Задание 5</h3>
        <p>
            Создать страницу, на которой будет форма для ввода двух чисел и выбор операции
            (сложение, вычитание, умножение или деление) и кнопка "Вычислить" <br>
            При нажатии на кнопку будет произведено вычисление результата выбранной операции
            и переход на страницу с результатом.
        </p>
        <a class="btn btn-secondary" href="{{ url_for('index') }}">
            Перейти
        </a>
    </div>

    <div class="col-5 bg-body-secondary shadow p-3 m-2 bg-body-tertiary rounded">
        <h3 class="text-center">Задание 6</h3>
        <p>
            Создать страницу, на которой будет форма для ввода имени и возраста пользователя и кнопка "Отправить" <br>
            При нажатии на кнопку будет произведена проверка возраста
            и переход на страницу с результатом или на страницу с ошибкой в случае некорректного возраста.
        </p>
        <a class="btn btn-secondary" href="{{ url_for('index') }}">
            Перейти
        </a>
    </div>

    <div class="col-5 bg-body-secondary shadow p-3 m-2 bg-body-tertiary rounded">
        <h3 class="text-center">Задание 7</h3>
        <p>
            Создать страницу, на которой будет форма для ввода числа и кнопка "Отправить" <br>
            При нажатии на кнопку будет произведено перенаправление на страницу с результатом,
            где будет выведено введенное число и его квадрат.
        </p>
        <a class="btn btn-secondary" href="{{ url_for('index') }}">
            Перейти
        </a>
    </div>

    <div class="col-5 bg-body-secondary shadow p-3 m-2 bg-body-tertiary rounded">
        <h3 class="text-center">Задание 8</h3>
        <p>
            Создать страницу, на которой будет форма для ввода имении кнопка "Отправить" <br>
            При нажатии на кнопку будет произведено перенаправление на страницу с flash сообщением,
            где будет выведено "Привет, {имя}!".
        </p>
        <a class="btn btn-secondary" href="{{ url_for('index') }}">
            Перейти
        </a>
    </div>


</div>
<br><br>
{% endblock %}